<div class="container vh-100 d-flex justify-content-center align-items-center">

  <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px; border-radius: 12px;">

    <div class="text-center mb-4">
      <h3 class="fw-bold">Iniciar Sesión</h3>
      <p class="text-muted mb-0">Accede a tu cuenta</p>
    </div>

    <form (ngSubmit)="login()">

      <div class="mb-3">
        <label class="form-label">Correo</label>
        <input 
          type="email"
          class="form-control"
          [(ngModel)]="email"
          name="email"
          placeholder="Ingresa tu email"
          required>
      </div>

      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input 
          type="password"
          class="form-control"
          [(ngModel)]="password"
          name="password"
          placeholder="Ingresa tu contraseña"
          required>
      </div>

      <button 
        type="submit"
        class="btn btn-primary w-100 mb-3">
        Iniciar sesión
      </button>

      <div 
        *ngIf="errorMessage"
        class="alert alert-danger text-center">
        {{errorMessage}}
      </div>

    </form>

    <hr>

    <div class="text-center">
      <p class="mb-2">¿No tienes cuenta?</p>
      <button 
        type="button"
        class="btn btn-outline-primary w-100"
        routerLink="/register">
        Crear cuenta
      </button>
    </div>

  </div>

</div>