<div class="container-fluid">
  <div class="row">


    <div class="col-md-2 bg-dark text-white vh-100 p-3">
      <app-navbar></app-navbar>
    </div>


    <div class="col-md-10 bg-light min-vh-100 p-4">

      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold mb-0">Categorias</h2>

        <button class="btn btn-success d-flex align-items-center">
          <i class="bi bi-plus-lg me-2"></i>
          Añadir Categoria
        </button>
      </div>

      <div class="card shadow-sm border-0">
        <div class="card-body p-3">

          <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">

              <thead class="table-dark">
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let cat of categories">
                  <td class="fw-semibold">{{cat.id}}</td>
                  <td>{{cat.name}}</td>
                  <td>{{cat.description}}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-primary btn-sm me-2">
                      Editar
                    </button>

                    <button class="btn btn-outline-danger btn-sm">
                      Eliminar
                    </button>
                  </td>

                </tr>
              </tbody>

            </table>
          </div>

        </div>
      </div>

    </div>


  </div>
</div>